@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Merriweather);

*{
  padding: 0;
  margin: 0;
  font-family: 'Joseif Sans', sans-serif;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  background-image: url(../img/pic-1.jpg);
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 ;
  cursor: pointer;
  background-image: url(../img/img-2.jpg);
  background-size: cover;
  background-position: center;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   margin-top: 100px;
}

.container{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: white;
  font-size: 16px;
}
form button{
  padding: 15px;
  background: #e95360;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}