*{
  padding: 0;
  margin: 0;
  font-family: 'Joseif Sans', sans-serif;
  box-sizing: border-box;
}
.hero{
  height: 100vh;
  width: 100%;
  background-image: url(../img/pic-1.jpg);
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 ;
  cursor: pointer;
  background-image: url(../img/img-2.jpg);
  background-size: cover;
  background-position: center;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3{
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4{
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column{
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;
  flex: 50%;
  padding: 0 4px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
.column > img{
  width: 100%;
  height: 100%;
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
}
.footer-menu{
  height: auto;
  width: 100%;
  background-image: url(../img/img-3.jpg);
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
.sidenav a{
  padding: 0 auto;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  transition: 0.3s;
  float: unset;
  display: block;
}
